<div class="container-fluid">
  <div class="row">
    <div class="col-12 d-flex justify-content-start">
      {{subTitle}}
    </div>
  </div>
  <div class="row">
    <div class="col-12 d-flex justify-content-center">
      {{title}}
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <table class="w-100">
        <tr>
          <th class="w-14.28" scope="col">
            D
          </th>
          <th class="w-14.28" scope="col">
            L
          </th>
          <th class="w-14.28" scope="col">
            M
          </th>
          <th class="w-14.28" scope="col">
            M
          </th>
          <th class="w-14.28" scope="col">
            J
          </th>
          <th class="w-14.28" scope="col">
            V
          </th>
          <th class="w-14.28" scope="col">
            S
          </th>
        </tr>
        <tr *ngFor="let week of month">
          <td *ngFor="let day of week" (click)="select(day)">
            {{day.day}}
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
